{% extends 'base.html' %}
{% load static %} 
{% block title %}Restaurant - Menu{% endblock %}
{% block content %}

<div>
    <h2>Menu</h2>
    <table class="line-table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      {% for item in object_list %}
          <tr>
              <td>
                  <a href="{% url 'recipe' item.id %}">{{ item.name|title }}</a>
              </td>
              <td>
                  {{ item.price }}
              </td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'create_menu_item' %}" style="display: inherit; text-align: center; border-radius: 15px; text-decoration: none; color: inherit; padding: 4px; background-color: lightgreen;">➕ Add new Item</a>
  </div>
  {% endblock %}