{% extends 'base.html' %}
{% load static %} 
{% block title %}Restaurant - {{ object.name|title }}{% endblock %}

{% block content %}
<div>
    <h2>Recipe: {{ object.name|title }}</h2>
    <table class="line-table">
        <thead>
          <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for item in object.ingredientrequirement_set.all %}
            <tr>
                <td>
                    {{ item.ingredient.name|title }}
                </td>
                <td>
                    {{ item.quantity }} {{ item.ingredient.get_measure_unit_display}}
                </td>
                <td>
                    <a href="{% url 'update_menu_item_ingredient' object.id item.id %}">🖉</a>
                    {% comment %}
                    <a href="{% url 'delete_ingredient' item.id %}">❌</a>
                    {% endcomment %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_menu_item_ingredient' object.id %}" style="display: inherit; text-align: center; border-radius: 15px; text-decoration: none; color: inherit; padding: 4px; background-color: lightgreen;">➕ Add Ingredient</a>
</div>
{% endblock %}